<!DOCTYPE html>
<html>
<head>
    <title>Interview Coach</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1 class="title">AI Interview Coach</h1>

<div class="container">

    <a href="/start/hr" class="card-link">
        <div class="card">
            <h2>HR Interview</h2>
            <p>Behavioral Questions</p>
        </div>
    </a>

    <a href="/start/tech" class="card-link">
        <div class="card">
            <h2>Technical Interview</h2>
            <p>Coding & Concepts</p>
        </div>
    </a>

</div>

</body>
</html>